/* CSS for right-to-left direction and right alignment */
body {
    direction: rtl;
    text-align: right;
}

.css-18e3th9 {
    direction: rtl;
    text-align: right;
}

.css-1d391kg {
    direction: rtl;
    text-align: right;
}
